@model TopLearn.Core.DTOs.QuestionVM.ShowQuestionViewModel
@using TopLearn.Core.Convertors
@using TopLearn.Core.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IUserService _userService;
@{
    ViewData["Title"] = "پرسش " + Model.Question.Title;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"> تاپ لرن </a></li>
            <li class="breadcrumb-item"><a href="/Forum/ShowQuestion"> پرسش و پاسخ </a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Model.Question.Title </li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="inner">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>@Model.Question.Title</h1>
                    </div>
                    <input type="hidden" asp-for="Question.CourseId" />
                    <div class="panel-body">
                        @Html.Raw(Model.Question.Body)
                    </div>
                    <div class="panel-footer">
                        <img src="~/UserAvatar/@Model.Question.User.UserAvatar" style="max-width: 50px; border-radius: 20px;" />
                        @Model.Question.User.UserName | @Model.Question.CreateDate.ToShamsi()
                    </div>
                </div>
            </div>



            <div class="inner" style="margin-top: 25px;">
                @foreach (var answer in Model.Answers)
                {
                    <div class="panel @((answer.IsTrueAnswer) ? "IsTrue" : "")">
                        <div class="panel-heading">
                            <img src="~/UserAvatar/@answer.User.UserAvatar" style="max-width: 40px; border-radius: 20px;" />
                            @answer.User.UserName | @answer.CreateDate.ToShamsi() | @answer.AnswerdTime

                        </div>
                        <div class="panel-body">
                            @Html.Raw(answer.BodyAnswer)
                            @if (!answer.IsTrueAnswer && User.Identity.IsAuthenticated && @answer.UserId == _userService.GetUserIdByUserName(User.Identity.Name))
                            {
                                <p>
                                    <a class="btn btn-outline btn-success pull-left" asp-action="UpdateQuestion" asp-route-questionId="@answer.QuestionId" asp-route-answerId="@answer.AnswerId">
                                        پاسخ صحیح
                                    </a>
                                </p>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="inner" style="margin-top: 25px;">
                <div class="panel">
                    <div class="panel-heading">
                        <h1 style="font-size: 18px;" class="text-success text-muted">افزودن پاسخ جدید</h1>
                    </div>
                    <div class="panel-body">
                        <form asp-action="Answer">
                            <div class="form-group">
                                <input type="hidden" name="Id" value="@Model.Question.QuestionId" />
                                <textarea name="body"></textarea>
                                <button class="btn btn-block btn-success" style="margin-top: 20px; height: 50px; font-size:15px;" type="submit">ثبت پاسخ شما</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('body', {
            customConfig: '/js/Config.js'
        });

    </script>
}