@using TopLearn.Core.Services.Interfaces
@model TopLearn.DataLayer.Entities.Order.Order

@inject IUserService _UserService

@{
    ViewData["Title"] = "ShowOrder";
    int sumOrder = Model.OrderSum;
    string DiscountType = ViewBag.DiscountType.ToString();
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> نمایش فاکتور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتور شما </h1></header>
                        @if (ViewBag.finaly == true)
                        {
                            <div class="alert alert-success">
                                فاکتور با موفقیت پرداخت گردید
                            </div>
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>سطر</th>
                                    <th>دوره</th>
                                    <th>تعداد</th>
                                    <th>قیمت</th>
                                    <th>جمع</th>
                                    @if (!Model.IsFinaly)
                                    {
                                        <th>دستورات</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 0;
                                }
                                @foreach (var item in Model.OrderDetails)
                                {
                                    count++;


                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td>
                                            <a href="/ShowCourse/@item.Course.CourseId" target="_blank">@item.Course.CourseTitle</a>
                                        </td>
                                        <td>
                                            @item.Count
                                        </td>
                                        <td>@item.Price.ToString("#,0")</td>
                                        <td>
                                            @((item.Count * item.Price).ToString("#,0"))
                                        </td>

                                        @if (!Model.IsFinaly)
                                        {
                                            <td>


                                                <form method="post" action="/UserPanel/MyOrder/DeleteOrder">
                                                    <input type="hidden" name="OrderId" value="@item.OrderId" />
                                                    <input type="hidden" name="OrderIdDetail" value="@item.DetailId" />
                                                    <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 5px" value="حذف" />
                                                </form>
                                            </td>
                                        }


                                    </tr>

                                }
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <td colspan="3" class="text-left">کد تخفیف</td>
                                        <td>
                                            <form action="/UserPanel/MyOrder/UseDiscount" method="post">
                                                <input type="hidden" name="orderid" value="@Model.OrderId" />
                                                <input type="text" name="code" class="form-control" />
                                                <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
                                            </form>
                                        </td>
                                        @if (DiscountType != "")
                                        {
                                            switch (DiscountType)
                                            {
                                                case "ExpireDate":
                                                    <div class="alert alert-danger">
                                                        <p class="texttext-muted">کد منقضی شده است</p>
                                                    </div>
                                                    break;
                                                case "Finished":
                                                    <div class="alert alert-danger">
                                                        <p class="texttext-muted">کد به اتمام رسیده است</p>
                                                    </div>
                                                    break;
                                                case "NotFound":
                                                    <div class="alert alert-danger">
                                                        <p class="texttext-muted">کد وارد شده معتبر نیست</p>
                                                    </div>
                                                    break;
                                                case "Success":
                                                    <div class="alert alert-success">
                                                        <p class="texttext-muted">کد با موفقیت اعمال شد</p>
                                                    </div>
                                                    break;
                                                case "Used":
                                                    <div class="alert alert-info">
                                                        <p class="texttext-muted">این کد توسط شما استفاده شده است</p>
                                                    </div>
                                                    break;
                                                case "UsedTwice":
                                                    <div class="alert alert-info">
                                                        <p class="texttext-muted">بیشتر از یک کد تخفیف نمیشود اعمال شود</p>
                                                    </div>
                                                    break;
                                            }
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" class="text-left">
                                        جمع کل :
                                        @sumOrder.ToString("#,0")
                                        <hr />

                                        @if (!Model.IsFinaly)
                                        {
                                            <p>
                                                موجودی کیف پول شما:
                                                @ViewBag.WalletBallance.ToString("#,0")
                                            </p>
                                        }

                                    </td>
                                    <td>


                                        @if (!Model.IsFinaly)
                                        {
                                    <tr>
                                        <td colspan="2" class="text-left"></td>
                                        <td colspan="2">
                                                    @if (_UserService.BalanceUserWallet(User.Identity.Name) >= sumOrder)
                                                    {
                                                <a class="btn btn-success btn-block" href="/UserPanel/MyOrder/FinallyOrder/@Model.OrderId">تایید فاکتور</a>
                                                    }
                                                    else
                                                    {
                                                <a class="btn btn-success btn-block" disabled>تایید فاکتور</a>
                                                <div class="alert alert-danger">
                                                    موجودی کیف پول شما کافی نمی باشد ، لطفا از طریق این
                                                    <a href="/UserPanel/Wallet" class="alert-link">لینک</a>
                                                    اقدام به شارژ حساب کنید
                                                </div>
                                                    }

                                        </td>
                                    </tr>
                                        }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>